body {
	font-family:Helvetica, sans-serif;
	font-size:11px;
	margin:0;
	padding-top:120px;
	background-color:#76ACE2;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
}

a{
	color: #15428B;
	text-decoration: underline;
}

a:hover{
	color: #000000;
	text-decoration: none;
}

input, textarea, select{
	font-family:Helvetica, sans-serif;
	font-size:11px;
}

form {
	padding:0;
	margin:0;
	/*text-align:left;
	display: inline-block;
	width: auto;
	position: relative;
	clear:both;
	line-height: 0px; IE7 fix */
	
}

.body {
	padding-top:7px;
	padding-left:1px;
	padding-right:1px;
	text-align:left;
	min-width:1000px;
}

.user-info {
	float:right;
	padding:5px 0px 0px 0px;
	margin-right:10px;
	color:#FFFFFF;
}

.footer {
	padding-top:5px;
	text-align:center;
	border-top:1px solid #76ACE2;
}

.message_error {
	color:#FF0000;
	text-align:left;
	background-image: url(../images/icon/failed.gif);
	background-repeat:no-repeat;
	padding-left:20px;
	padding-bottom:5px;
}

.content_title {
	text-align:center;
	font-size:12px;
	font-weight:bold;
	border-bottom:1px solid #76ACE2;
}

/* Login Layout */
.login_frame {
	height:100%;
	width:100%;
	margin-top:200px;
}

.login_form {
	border-top:2px solid #999999;
	border-right:2px solid #999999;
	border-bottom:2px solid #666666;
	border-left:2px solid #666666;
}

.login_title {
	font-weight:bold;
	font-size:14px;
	text-align:center;
}

/* -- Menu -- */
.menu {
	text-align:center;
	position:fixed;
	top:0px;
	left:0px;
	min-width:1000px;
	padding:0px 2px 0px 1px;
	width:100%;
}

/* -- Toolbox -- */
.tool_box{
	border-top:solid 1px #CCCCCC;
	border-left:solid 1px #CCCCCC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 2px #000000;
	width:100%;
	margin-bottom:5px;
	height:55px;
	background-color:#F0F0F0;
	text-align:left;
}

.tool_box_button{
	vertical-align:middle;
	text-align:right;
	padding-right:5px;
}

.button_format{
	background-repeat:no-repeat;
	background-position:top;
	padding:22px 5px 0px 5px;
	text-align:center;
	vertical-align:middle;
}

/* -- Button Refresh -- */
.button_refresh{ 
	background-image: url(../images/icon/refresh.gif); }

/* -- Button Filter -- */
.button_filter{ background-image: url(../images/icon/filter.gif); }

/* -- Button View Detail -- */
.button_detail{ background-image: url(../images/icon/detail.gif); }

/* -- Button Success -- */
.button_success{ background-image: url(../images/icon/success.gif); }

/* -- Button Gagal -- */
.button_failed{ background-image: url(../images/icon/failed.gif); }

/* -- Button Repeat -- */
.button_repeat{ background-image: url(../images/icon/repeat.gif); }

/* -- Button New -- */
.button_new{ background-image: url(../images/icon/new.gif); }
.button_new_2{ background-image: url(../images/icon/new2.gif); }

/* -- Button Edit -- */
.button_edit{ background-image: url(../images/icon/edit.gif); }

/* -- Button Save -- */
.button_save{ background-image: url(../images/icon/save.gif); }

/* -- Button Cancel -- */
.button_cancel{ background-image: url(../images/icon/cancel.gif); }

/* -- Button Deposit -- */
.button_deposit{ background-image: url(../images/icon/deposit.gif); }

/* -- Button Payment -- */
.button_payment{ background-image: url(../images/icon/payment.gif); }

/* -- Button Generate -- */
.button_generate{ background-image: url(../images/icon/generate.gif); }

/* -- Button Excel -- */
.button_excel{ background-image: url(../images/icon/excel.gif); }

/* -- Button Delete -- */
.button_delete{ background-image: url(../images/icon/delete.gif); }

/* -- Button Price Group -- */
.button_price_group{ background-image: url(../images/icon/price_group.gif); }

/* -- Button Price Group -- */
.button_send_sms{ background-image: url(../images/icon/send_sms.gif); }

/* -- Button Back -- */
.button_back{ background-image: url(../images/icon/back.gif); }

/* -- Button Clear -- */
.button_clear{ background-image: url(../images/icon/clear.gif); }

/* -- Button Upload -- */
.button_upload{ background-image: url(../images/icon/upload.gif); }

/* -- Button Donload -- */
.button_download{ background-image: url(../images/icon/download.gif); }

/* Table View */
.table{
	background-color:#6699CC;
	border-spacing:1px;
	width:100%;
	min-width:1000px;
	text-align:left;
}

.table_header{
    background-image:url(../images/table_header.jpg);
    background-repeat:repeat-x;
    background-position:center;
    height:25px;
    font-weight:bold;
	text-align:center;
}

.table_header_2{
	background-image:url(../images/table_header.jpg);
    background-repeat:repeat-x;
    background-position:center;
	font-weight:bold;
	text-align:center;
}

.table_footer{
	background-color:#CCDEF0;
    font-weight:bold;
	text-align:center;
}

.table_header a{
    font-weight:bold;
    text-decoration:none;
}

.table_header_2 a{
    font-weight:bold;
    text-decoration:none;
}

.table_row_even{
	background-color: #EFF3F6;
}

.table_row_odd{
	background-color: #FFFFFF;
}

.table_pagination{
	width:100%;
	vertical-align:bottom;
}

.pagination{
}

.table_row{
	overflow:scroll;
}

.table_row_even:hover, .table_row_odd:hover{
	background-color:#FFFFDD;
}

/* -- Form View -- */
.form_view{
	background-color:#6699CC;
	border-spacing:1px;
	text-align:left;
}

.form_view_title{
	text-align:right;
}

.form_view_cell_1{
	background-color:#FFFFFF;
}

.form_view_cell_2{
	background-color:#EFF3F6;
}

/* -- List -- */
.list_menu {
	text-align:left;
	list-style-type:decimal;
}

.list_menu li {
	padding-bottom:5px;
}

.list_menu a{
	font-weight:bold;
}